.page{
    text-align: center;
    width: 50%;
    display: block;
}


.pagination li {
    text-align: center;
    margin-bottom: auto;
    float: none;

}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #96a0ad;
    line-height: 1.5;
   }



.modal .num {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;}

.modal .num:hover {
    background-color: #2e9cdf;
    color: #ffffff;}

.modal .num.active, .modal .num:active {
    background-color: #2e9cdf;
    cursor: pointer;
}
